.flat-header{
    background: rgba(0, 0, 0, 0.5);
}
.header-style4 .site-header-inner #logo {
    margin: 29px 0 31px 0;
}
.transparent-head-style4 {
    background-image: url(../images/home4/home.jpg);
    height: 871px;
    padding-top: 204px;
    top: 65px;
}
.transparent-head-style4 .wrap-transparent .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 1.7px;
    margin-top: 35px;
}
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  .mySlides {
    display: none;
    text-align: center;
    margin-top: 0px;
    padding: 15px;
  }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #fff!important;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    position: absolute;
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .mySlides p{
      color: #fff;
  }
  .form-sent .sent-button {
    width: 150px!important;
    height: 45px!important;
    position: static!important;
    padding: 0!important;
    border: 0!important;
    border-top-left-radius: 22px!important;
    border-bottom-left-radius: 22px!important;
    border-top-right-radius: 22px!important;
    border-bottom-right-radius: 22px!important;
}
.new-btn{
    width: 150px;
    height: 45px;
    position: static;
    padding: 0;
    border: 0;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #fff;
    color: #fff;
}
.header-sticky img{
    width: 70px;
}
.header-sticky .site-header-inner #logo {
    margin: 10px 0 12px 0;
}
.form-sent button:hover{
    background-color: green;
}
.form-sent button{
    background-color: #fff;
    color: #3f7d20;
}
.form-sent button:hover{
    background-color: #fff;
    color: #3f7d20;
}
.flat-hobby .imagebox-hobby a{
    font-size: 15px!important;
}
.flat-introduce-style4 .videobox a.fancybox:before{
    display: none;
}
.flat-event .content-event .entry-info .entry-title a {
    font-size: 18px;
}
.logo img{
    width: 70px!important;
}
@media screen and (min-width:992px){
    .header .container{
        max-width: 1400px;
    }
    .flat-hobby .container{
        max-width: 1400px;
    }
    .custom-slider{
        margin-top: 65px;
    }
    .partner-clients-style4 .prev{
        left: 9px;
    }
    .partner-clients-style4 .next{
        right: 9px;
    }
}
.main-nav .menu li {
    padding-left: 19px;
}
.header-left-content img {
    margin-top: 5px;
    height: 40px!important;
}
.header-left-content p{
    font-size: 13px;
}
.header-last-content img {
    height: 40px!important;
    margin-top: 5px;
}
.wrap-header .name-div{
    background-color: #3f7d20;
    color: #fff;    
}
.wrap-header .container-fluid{
    max-width: 100%!important;
    text-align: center;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    height: 68px;
}
.header-right-content h1{
    font-weight: 600;
}
.header-right-content p{
    font-weight: 600;
}
.header-last-content p{
    font-size: 13px;
}
.apply-admission-inner p{
    color: #fff;
    margin-top: 20px;
}
.partner-clients-style4 {
    margin-top: 50px;
}
.programme ul li{
    /* display: inline-block; */
    color: #fff;
    padding: 5px;
}
.programme ul{
    text-align: center;
    margin-top: 20px;
}
.apply-admission-wrap .title span{
    font-size: 25px;
}
.apply-admission-wrap h3{
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.prog li{
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font-weight: 600;
}
.prog{
    text-align: center;
}
.flat-hobby-style4 {
    padding-top: 30px;
    margin-bottom: 0;
}
.latest-blog-style4 {
    padding: 39px 0 120px 0;
}
.latest-blog .post-bg .bg .featured-post {
    float: right;
    /* transform: translateY(-106%); */
}
.latest-blog-type1 .post .post-content .entry-info {
    position: relative;
    top: -215px;
}
.testimonial-style1 .wrap-quote .client-info li span{
    transform: none;
}
/* .testimonial-style1 .wrap-quote .flex-control-paging li a{
    display: none;
} */
.testimonial-style1 .wrap-quote .client-info li .speech {
    margin: 37px 43px 23px 0;
}
.header-right-content img{
    width: 50px;
}
.header-right-content ul li{
    display: inline-block;
}
.header-style4 #main-nav > ul > li {
    padding-bottom: 0px;
    padding-top: 15px;
}
.new-menu-li{
    padding-top: 20px!important;
}
.header-menu .main-nav .menu li a:hover{
    color: #fff;
}
.hov a:hover{
    color: #fff!important;
}
.bg-clff9819 {
    background-color: #3f7d20;
}
.apply-admission-wrap.type4{
    background-color: #3f7d20;
    height: 230px;
}
.flat-event-bg .content-event-left .section-overlay{
    background-color: #3f7d20;
}
.flat-event-style4 .content-event .entry-info .entry-meta ul li .icon-event{
    color: #fff;
}
.heading-type13:after{
    background: #fff;
}
.heading-type14:after {
    background: #3f7d20;
}
.latest-blog .post .post-content .post-link a:hover{
    color: #3f7d20;
}
.cl-fbb545 {
    color: #3f7d20;
}
.latest-blog.cl-dots2 .owl-carousel .owl-dots button.owl-dot.active {
    width: 39px;
    height: 39px;
    color:  #3f7d20 !important;
    border-radius: 50%;
    background: none;
    border: 1px solid  #3f7d20 !important;
}
.post-title h5 a:hover{
    color: #3f7d20;
}
.overlayfbb545{
    background-color: rgb(63, 125, 32, 0.7);
}
#scroll-top:hover {
    background-color: #3f7d20;
}
#main-nav .sub-menu{
    background-color: #3f7d20;
    color: #fff;
}
.header-sticky .site-header-inner #main-nav .new-menu-li{
    margin-bottom: 10px;
}
.transparent-head-style4 .wrap-transparent .text {
    margin: 31px 0 31px 0;
    font-size: 18px;
    max-width: 470px;
}
.menu2 ul li{
    display: inline-block;
    padding: 0px 10px;
}
.menu2 ul li a{
    color: #fff;
}
.menu2{
    height: 30px;
}
.row2{
    height: 68px;
}
.name-div1{
    height: 30px!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
}
@media screen and (max-width:1024px) and (min-width:1020px){
    .header{
        height: 67px!important;
    }
    .transparent-head-style4{
        top: 67px!important;
    }
    .header-sticky{
        height: 67px!important;
    }
    .header-sticky .site-header-inner #main-nav > ul > li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
#main-nav .my-sub-menu{
    min-width: 145px!important;
}
.mt-130{
    margin-top: 50px!important;
}
.content-event-right .owl-dots{
    display: none;
}
.flat-event-bg .content-event-right{
    background: rgba(0, 0, 0, 0.5);
}
.content-event-right .title-section{   
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 40px!important;
    background: grey;

}
.field-act .avatar{
    display: none;
}
.testimonial-style1 .wrap-info{
    background-image: url(../images/home1/green.jpg);
}
.main-nav .menu li a{
    font-size: 15px;
}
.flat-event-style4 .wrap-event .title-section{
    margin-bottom: 30px;
}
.flat-event-bg .content-event{
    margin-bottom: 30px;
}
.content-event-right .overlay3f4c99{
    display: none;
}
.content-event-right .heading-type12:after{
    background: #fff;
}
.content-event-right .title-section .flat-title{
    color: #fff;
}
@media screen and (max-width:1024px){
    .initiatives {
        padding-top: 140px;
    }
    .courses-single-page {
        padding-top: 75px!important;
    }
    #main-nav .my-sub-menu {
        left: -71px;
    }
    .apply-admission-inner p {
        line-height: 22px;
        font-size: 14px;
        color: #fff;
        margin-top: 20px;
    }
    .flat-hobby-style4 {
        margin-top: 0px!important;
    }
    .title-section .flat-title.small {
        font-size: 28px;
        line-height: 35px;
    }
    .flex-direction-nav .flex-next {
        right: 127px!important;
        top: 207px!important;
    }
    .flex-direction-nav .flex-prev {
        top: 207px!important;
        left: 106px!important;
    }
    .latest-blog .post-bg .bg .featured-post{
        float: right!important;
    }
    .flat-event .content-event .entry-info .entry-title a {
        font-size: 15px;
    }
    .flat-event .content-event .entry-info .entry-meta ul li .icon-event {
        font-size: 15px;
    }
    .flat-event .content-event .entry-info .entry-title a {
        font-size: 15px;
    }
    .flat-event .content-event .entry-info .entry-meta ul li .detail-event {
        font-size: 15px;
    }
    .field-act .owl-prev{
        left: -39px!important;
        position: relative!important;
        bottom: 263px!important;
    }
    .field-act .owl-next{
        left: 906px!important;
        position: relative!important;
        bottom: 266px!important;
        font-size: 100px;
    }
    .main-nav .menu li a{
        font-weight: 400;
    }
    .main-nav .menu li{
        padding-left: 14px;
    }
    .main-nav .menu li a {
        font-size: 14px;
    }
}
.latest-blog-style4 .title-section {
    margin-bottom: 35px;
}
.latest-blog-style4 {
    padding: 35px 0 50px 0;
}
.content-event-right .heading-type12:after{
    bottom: 42px;
}
.footer-type1 .form-send-email {
    padding-top: 28px;
}
.first-p{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.form-send-email p{
    font-size: 17px;
}
.second-p{
    margin-bottom: 10px;
}
#footer a:hover{
    color: #3f7d20!important;
}
#footer #footer-widget {
    padding-top: 26px;
    padding-bottom: 30px;
}
#footer #footer-widget .widget.widget-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}
#footer #footer-widget .widget-social-media li {
    display: block;
    padding-right: 26px;
}
.widget-social-media li a{
    font-size: 17px;
    color: #7a7a7a;
    font-weight: 300;
}
#footer #footer-widget .widget-social-media li{
    margin-bottom: 13px;
}
.background-wh{
    padding: 0;
}
.background-wh .imagebox-courses-type2 .info-courses .instructor{
    display: none;
}
.has-effect-icon:hover .elm-link{
    display: none;
}
.imagebox-courses-type2 .evaluate{
    display: none;
}
.imagebox-courses-type2 .info-courses {
    padding: 39px 27px 20px 23px;
}
.online-courses-style3{
    padding-top: 178px;
}
.online-courses-style3 .title-section {
    margin-bottom: 15px;
}
.imagebox-courses-type2 .info-courses .courses-name a {
    font-size: 16px;
}
.imagebox-courses-type2 .info-courses .package{
    display: none;
}
.imagebox-courses-type2 .info-courses .courses-name a:hover{
    color: #3f7d20;
}
.pad-50{
    padding: 50px 0;
}
.online-courses-style3 .section-heading{
    margin-bottom: 40px;
}
.pad-50 .owl-carousel .owl-item img{
    width: 100%;
}
.courses-single-page{
    padding-top: 180px;
}
.tab-title li{
    width: 31%;
}
.tab-title.type1 li {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.tab-title.type1 li.overview span:before {
    content: "\f0f6";
}
.tab-title.type1 li.instructor span:before{
    content: "\f0f6";
}
.tab-title.type1 li.review span:before {
    content: "\f0f6";
}
.tab-title.type1 li.review span:before {
    content: "\f0f6";
}
.tab-title.type1 li.review span:before {
    content: "\f0f6";
}
.tab-title.type1 li.active {
    background: #3f7d20;
}
.tab-title.type1 li:after{
    border-top: 12px solid #3f7d20;
}
.tab-title.type1 li:hover{
    background: #3f7d20;
}
.table a:hover{
    color: #3f7d20;
}
.table h3{
    font-weight: 600;
}
.pd-about{
    padding-top: 180px;
}
.edukin-introduce .bg-element2 {
    background-image: url(../images/about/lib.jpg);
}
.element-col50 ul li{
    display: inline-block;
}
.edukin-introduce .bg-element3 {
    background-image: url(../images/home4/publication-resized.png);
}
.iro{
    margin-top: 120px;
    margin-bottom: 50px;
    padding-top: 0!important;
}
.iro ul li{
    padding: 10px;
    border-top: 1px solid #3f7d20;
    border-right: 1px solid #3f7d20;
    border-left: 1px solid #3f7d20;
    border-bottom: 1px solid #3f7d20;
}
/* .iro ul li:last-child{
    border-bottom: 1px solid #3f7d20;
} */
.iro ul li a:hover {
 color: #3f7d20;
}
.iro .title-section .flat-title.larger{
    font-size: 25px;
}
.iro .heading-type9:after {
    content: "";
    width: 35px;
    background: #333;
    position: absolute;
    height: 2px;
    bottom: 7px;
    margin-left: 16px;
}
.iro .title-section{
    margin-bottom: 30px;
}
.iro p{
    font: 16px/27px "Poppins", sans-serif;
    color: #8a8a8a;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
}
.iro ul li a{
    font-weight: 600;
    font-size: 16px;
    color: #8a8a8a;
}
.iro .tab-title li {
    width: 100%;
    line-height: 24px;
}
.iro .heading-type13:after {
    background: #000;
}
.inter .flat-portfolio .flat-filter-isotype{
    width: 100%!important;
}
.btn-link{
    color: #3f7d20;
}
.btn-link:hover {
    color: #3f7d20;
    text-decoration: none;
}
.iro button:hover{
    background: none;
}
.iro .card-body ul li{
    border: none!important;
    list-style-type: disc;
}
.iro .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem 1.25rem 40px;
}
.btn-link:focus{
    text-decoration: none;
}
.item-ol ol li{
    margin-bottom: 10px;
    list-style-type: decimal;
}
.item-ol ul li{
    border: none;
    list-style-type: disc;
}
.courses-single-page .flat-tabs {
    border-bottom: none;
    padding: 41px 0 5px 0;
    margin-bottom: 0px;
}
.in-fac ul li{
    border: none;
    list-style-type: none;
}
.out-fac ol li{
    margin-bottom: 10px;
}
.customised ul li{
    border: none;
    list-style-type: none;
}
.strong{
    font-weight: 700!important;
}
.iro table tr td{
    font: 16px/27px "Poppins", sans-serif;
    color: #8a8a8a;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
}
.content-blog{
    padding-top: 150px;
}
.site-content .post-blog .content-post .post-meta .clendar-wrap {
    padding: 0;
    background: none;
}
.content-post-blog .content-post-inner p {
    margin: 8px 0 8px 0;
}
.site-content .post-blog .content-post {
    padding: 30px 20px 55px 30px;
}
.site-content .post-blog .content-post-inner .entry-title a:hover{
    color: #3f7d20;
}
.site-content .post-blog .content-post-inner .flat-button a:hover{
    color: #3f7d20;
}
.post-meta .social i:hover{
    color: #3f7d20;
}
.content-blog .form-sent .sent-button {
    width: 60px;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #3f7d20;
}
.form-sent .sent-button i{
    color: #fff;
}
.widget-search .search-form .search-button{
    background-color: #3f7d20;
    border: 2px solid #3f7d20;
}
.sidebar .widget .widget-title span:after{
    background-color: #3f7d20;
}
.widget-categories ul.categories-wrap li a:hover{
    color: #3f7d20;
}
.apply-admission-wrap.type1 {
    box-shadow: rgb(24, 50, 81) 0px -11px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.flat-benefit.style1 {
    background-image: url(../images/home1/green-y.jpg);
    background-size: cover;
    padding: 45px 0 47px 0;
}
.ba .heading-type2:after{
    background: #fff;
}
.ba .iconbox-benefit .iconbox-content a {
    font-size: 18px;
    font-weight: 600;
}
.ba .iconbox-benefit .iconbox-content a:hover {
    color: #fff!important;
}
.flat-benefit.style1 .title-section {
    margin-bottom: 25px!important;
}
.ba .col-benefit-left {
    width: 55%!important;
    float: left;
}
.ba .apply-admission-wrap.type3 {
    box-shadow: rgb(24, 50, 81, 0.7) 0px -11px 0px 0px;
    background-color: #3f7d20;
}
.ba .bg-clff5f60 {
    background-color: #3f7d20;
}
.ba-ad .header-right-content p {
    font-weight: 400;
}
.center-row{
    justify-content: center;
}
.center-row h1{
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 600;
}
.blink {
    animation: blinker 2s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .ba .bg-apply-type1 .apply-now {
    padding: 58px 58px 50px 58px;
}
.cptch{
    text-align: center;
    margin-bottom: 0!important;
}
.last-li-form{
    margin-bottom: 0!important;
}
.ba .bg-apply-type1 .apply-now ul {
    margin-bottom: 35px;
}
.announcement-p{
    height: 70px;
}
.carousel-hobby-style4 .owl-carousel .owl-nav button.owl-prev:before, .carousel-hobby-style4 .owl-carousel .owl-nav button.owl-next:before{
    color: #3f7d20;
}
.carousel-hobby-style4 .owl-carousel .owl-nav button.owl-prev {
    left: 45px;
}
.carousel-hobby-style4 .owl-carousel .owl-nav button.owl-next {
    right: 45px;
}
.owl-carousel .owl-nav.disabled{
    display: block;
}
.news-a{
    font-size: 16px;
    color: #fff;
}
.news-h{
    text-align: center;
    margin-top: 20px;
}
.fap-p{
    padding: 15px;
    color: #000;
    font-size: 15px;
}
.field-act .owl-prev{
    left: -68px;
    position: relative;
    bottom: 329px;
    font-size: 100px!important;
}
.field-act .owl-next{
    left: 998px;
    position: relative;
    bottom: 329px;
    font-size: 100px!important;
}
.testimonial-style1 .wrap-quote .flex-control-nav{
    display: none;
}
/* #slider-testimonial .flex-direction-nav{
    display: none;
} */

.new-car{
    padding-right: 0!important;
    position: relative;
}
.latest-blog-type1 .post .post-content {
    padding: 0;
}
.latest-blog-type1 .post-bg .post-content .post-link {
    margin-top: 0;
    margin-left: 20px;
}
.latest-blog .post-bg .bg .featured-post {
    float: none;
}
.slider .flex-direction-nav a:before{
    display: inherit;
}
.slider .flex-direction-nav .flex-disabled{
    opacity: 1!important;
}
.flex-direction-nav .flex-prev {
    left: -79px;
}
.flex-direction-nav .flex-next {
    right: -38px;
}
.slider .flex-direction-nav a{
    border-color:#3f7d20;
    width: 70px;
}
.flex-direction-nav a:hover {
    background-color: #3f7d20;
    color: #fff;
}
.new-btn:hover{
    background: #fff;
}
.new-btn a:hover{
    color: #3f7d20;
}
@media screen and (min-width:1200px){
    .field-act .owl-next {
        left: 1177px;
        position: relative;
        bottom: 329px;
        font-size: 100px!important;
    }
    .flex-direction-nav .flex-next {
        right: 127px!important;
        top: 207px!important;
    }
    .flex-direction-nav .flex-prev {
        top: 207px!important;
        left: 106px!important;
    }
}
.new-special .carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
.p-100{
    padding-bottom: 0px;
}
.p-100 .flex-direction-nav{
    display: none;
}
.p-100 p{
    text-align: center;
}
@media screen and (max-width:767px){
    .cols{
        background-color: #fff3f3!important;
    }
    .cols1{
        background-color: #e7e7e7!important;
    }
    .flat-event-style3 .content-event-style3 .featured .place span {
        width: 35px;
        height: 35px;
        line-height: 35px;
        padding: 0 18px 0 8px;
        display: inline-block;
        border-radius: 50%;
        background: #ff9819;
        color: #fff;
        font-size: 20px;
        margin-right: 16px;
    }
    .flat-event-style3 .content-event-style3 .featured .place a {
        font-size: 15px!important;
    }
    .flat-course{
        margin-bottom: 20px!important;
    }
    .flat-course .course-content .wrap-course-content {
        padding: 10px;
    }
    .title-section .flat-title.small {
        font-size: 20px;
        line-height: 30px;
    }
    .title-section .flat-title.larger {
        font-size: 26px;
        line-height: 30px;
    }
    .masters-ul li{
        text-align: center;
    }
    .heading-type1:after {
        content: "";
        width: 38px;
        background: #ff5f60;
        position: absolute;
        height: 1px;
        bottom: 6px;
        margin-left: 8px;
    }

    .tab-inner-heading {
        line-height: 25px!important;
        margin: 20px 0!important;
        font-size: 18px!important;
        font-weight: 500!important;
    }
    .rec-ach .item-ol ol li{
        list-style-type: none;
    }
    .edukin-introduce .bg-element2{
        margin-bottom: 20px;
    }
    .custom-slider{
        margin-top: 65px;
    }
    .custom-slider img{
        height: 150px!important;
        width: 100%!important;
    }
    .wrap-header .name-div1{
        display: none!important;
    }
    .mobile-hidden{
        display: none!important;
    }
    .visible-mobile{
        display: block!important;
    }
    .wrap-header .container-fluid{
        height: 120px;
    }
    .header{
        top: 120px!important;
    }
    .header-sticky{
        top: 0px!important;
    }
    .mobile-button{
        right: 44%;
    }
    .new-menu-li{
        margin-left: 0!important;
    }
    .apply-admission-wrap.type4{
        height: 100%;
    }
    .announcement-p{
        height: 100%;
    }
    .flat-hobby-style4 {
        margin-top: 0px!important;
    }
    .flat-event .owl-carousel .owl-nav.disabled{
        display: none;
    }
    .latest-blog-style4 {
        padding: 35px 0 0px 0!important;
    }
    .flex-direction-nav .flex-prev {
        top: 300px!important;
        left: 67px!important;
    }
    .flex-direction-nav .flex-next {
        right: 44px!important;
        top: 300px!important;
    }
    .testimonial-style1 .wrap-quote .client-info li .speech {
        margin: auto;
    }
    .footer-type1 {
        margin-top: 65px;
    }
    .footer-type1{
        text-align: center;
    }
    .courses-single-page {
        padding-top: 50px;
    }
    .courses-single-page .tab-title {
        margin-bottom: 0px;
    }
    .tab-title li {
        width: 100%;
    }
    .tab-title {
        padding: 15px;
    }
}

.content-page-wrap {
    width: 100%;
}
@media screen and (min-width:768px){
    .mobile-button{
        right: 48%;
    }
    .footer-type1{
        text-align: center;
    }
    .pad-10{
        padding: 10px;
    }
    .hide-in{
        display: none!important;
    }
    .ml-40{
        margin-left: 40px;
    }
    .ml-15{
        margin-left: 15px;
    }
    .mr-40{
        margin-right: 40px;
    }
}
@media screen and (min-width:769px){
    .hidden-desktop{
        display: none!important;
    }
}
@media screen and (max-width:768px){
    figcaption {
        padding: 10px 0!important;
    }
    .flat-hobby-style4 {
        margin-top: 0!important;
    }
    .new-menu-li{
        margin-left: 0!important;
    }
    .flat-event .owl-carousel .owl-nav.disabled{
        display: none;
    }
    .field-act .owl-next {
        left: 670px!important;
    }
    .courses-single-page {
        padding-top: 75px;
    }
}
@media screen and (min-width:321px) and (max-width:640px){
    .header-right-content ul li {
        display: block;
    }
}
.mobile-button:before, .mobile-button:after, .mobile-button span{
    background-color: #fff;
}
.header .header-menu {
    float: none;
    display: inline-block;
}
.my-slider  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
.custom-slider{
    max-width: 100%!important;
}
.custom-slider img{
    height: 400px;
    width: 100%;
}
.custom-slider .flex-direction-nav{
    display: none;
}
.custom-slider .flex-control-paging{
    display: none;
}
.partner-clients-style4 .iconbox-style4 .apply-admission {
    transform: none;
}
.p-100 .title-section .flat-title.small {
    font-size: 20px;
    line-height: 28px;
}
.p-100 .flex-control-nav {
    width: 100%;
    position: relative;
    text-align: center;
    bottom: -9px;
}
.p-100 .heading-type12:after{
    display: none;
}
.flat-hobby{
    background-color: #fff3f3;
}
.custom-slider{
    margin-top: 65px;
}
.p-100.flat-hobby-style4 .title-section {
    margin-left: 0px;
}
.apply-admission-wrap {
    padding: 9px 20px 50px 21px;
}
.p-100.flat-hobby .title-section {
    margin-bottom: 15px;
}
.schools-center .featured-post img{
    max-width: 100%!important;
    width: 100%!important;
}
.contact {
    padding-top: 120px;
}
.mb-40 {
    margin-bottom: 40px;
}
.contact .mb-40 h2 {
    font-size: 18px;
    line-height: 25px;
}
.custom-col1 {
    cursor: pointer;
    padding: 40px;
    background-color: #fff3f3;
}
.custom-col2 {
    cursor: pointer;
    padding: 40px;
    background-color: #e7e7e7;
}
.contact .title-section .flat-title.small {
    font-size: 18px;
    line-height: 30px;
}
.contact .title-section {
    margin-bottom: 10px;
}
.style1 {
    display: inline-block;
    width: 10%;
    float: left;
}
.style2 {
    display: inline-block;
    width: 90%;
    float: left;
    margin-bottom: 10px;
    font-size: 15px;
}
.contact .heading-type13:after {
    display: none;
}
.contact .mb-40 h2 a {
    font-size: 18px;
}
.timeline {
    position: relative!important;
    max-width: 1200px!important;
    margin: 0 auto!important;
    background: #fff3f3!important;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .tcontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .tcontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #3f7d20;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the tcontainer to the left */
  .left {
    left: 0;
  }
  
  /* Place the tcontainer to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left tcontainer (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right tcontainer (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for tcontainers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width tcontainers */
    .tcontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .tcontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right tcontainers behave like the left ones */
    .right {
    left: 0%;
    }
  }
  .content h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
@media screen and (max-width:320px){
    .content {
        padding: 20px 10px!important;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }
    .content .iro p{
        font: 14px/23px "Poppins", sans-serif!important;
    }
    .admission-container .custom-col1 ul.text-center li a, .admission-container .custom-col2 ul.text-center li a{
        padding: 6px 9px!important;
        font-size: 15px;
        line-height: 30px;
        font-weight: 500;
        background: #3f7d20;
        color: #fff;
        border-radius: 50px;
        display: block;
    }
    .admission-container .custom-col1 ul.text-center li, .admission-container .custom-col2 ul.text-center li{
        margin: 10px 0!important;
    }
}
.flat-introduce-style1 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.flat-introduce-style1 .videobox a.fancybox:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ff5f60;
}
.fancybox img {
    width: 100%!important;
}
span.text a {
    font-size: 18px;
    position: relative;
    padding-left: 31px;
    display: block;
    letter-spacing: 0.5px;
    color: #7a7a7a;
}
figure {
    text-align: center;
    margin: 10px;
}
figcaption {
    padding: 10px;
}
.img-caption a {
    color: green;
    padding: 5px;
    border: 1px solid green;
    border-radius: 16px;
}
.tab-inner-heading {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}
.inner-ul li a {
    color: #3f7d20;
    font-size: 16px;
    font-weight: 600;
}
.inner-ul li {
    padding: 5px;
}
.inner-a {
    color: #3f7d20;
    font-size: 16px;
    font-weight: 600;
}
.no-bord li {
    border: 0!important;
}
.no-bord li a {
    color: #3f7d20!important;
}
.initiatives{
    padding-top: 100px;
}
.price-now a{
    color: #3f7d20;
    font-size: 17px;
}
.flat-course .course-content .wrap-rating-price .meta-rate .price {
    width: 100%;
    float: none;
    text-align: center;
    padding: 10px;
}
.wrap-course-content h4{
    padding: 10px;
    background:rgb(63,125,32);
}
.wrap-course-content h4 a{
    color: #fff!important;
}
.flat-course .course-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 11px 0 17px 0;
    margin-bottom: 17px;
    font-size: 17px;
    color: #7a7a7a;
}
.cmps .featured img{
    width: 500px;
    border-radius: 50px;
}
.flat-event-style3 .content-event-style3 .featured .data-box .date{
    margin-bottom: 0;
}
.flat-event-style3 .content-event-style3 .featured .data-box .date a{
    color: #fff;
    font-size: 17px;
}
.cmps{
    padding-top: 0!important;
}
.flat-event-style3 .content-event-style3 .featured .place p {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.1px;
}
.flat-event .content-event .entry-info .entry-title p {
    font-size: 20px;
    font-weight: 500;
}
.flat-event-style3 .content-event-style3 .featured .data-box{
    background:#3f7d20;
}
.flat-event-style3 .content-event-style3 .featured{
    background:#ffd7d7;
}
.flat-event-style3 .content-event-style3 .featured .place span{
    background: rgba(0, 0, 0, 0.5);
}
.content-event-style3 .content-event .entry-info a {
    color: #7a7a7a;
    font-size: 17px;
    font-weight: 400;
}
.flat-event-style3 .content-event-style3 .featured .data-box:hover{
    background: gray;
}
.flat-event-style3 .content-event-style3 .featured .place a:hover{
    color: #3f7d20;
}
.cmps-btn{
    color: #fff!important;
    background-color: #7a7a7a;
    border: #7a7a7a;
    padding: 10px 15px;
    border-radius: 50px;
}
.flat-video-style3 {
    background-image: url(/templates/styles_new/images/home3/13.png);
}
#main-nav .sub-menu li {
    padding-left: 0;
    padding-top: 0!important;
    display: block;
}
.first-p ~ p a{
    font-size: 17px;
    color: #7a7a7a;
    margin-bottom: 5px;
}
.first-p ~ p{
    margin-bottom: 5px;
}
.activee{
    display: block;
    width: 100%;
}
.w-100{
    width: 100%!important;
    display: none;
}
.white-color{
    color: #fff;
    font-size: 14px!important;
}
.logos img{
    width: 90px!important;
}
.tiss_life{
    margin-top: 95px;
}
.tiss_life .title-section{
    margin-bottom: 25px;
    margin-top: 25px;
}
.tiss_life .stud p a{
    padding: 6px 25px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    background: #3f7d20;
    color: #fff;
    border-radius: 50px;
}
.tiss_life .stud h3{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 17px;
}
.tiss_life .title-section .flat-title.larger{
    font-size: 30px;
}
.tiss_life img{
    width: 100%;
}
.facilities h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}
.facilities h2 ~ p{
    margin-bottom: 10px;
}
.facilities table thead tr td{
    font-weight: 600;
}
.bold-span{
    font-weight: 600;
}
.contact-a p a{
    background: none!important;
    color: #8a8a8a!important;
    font-weight: 400!important;
}
.counselling h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}
.new-btnn{
    padding: 6px 25px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    background: #3f7d20;
    color: #fff;
    border-radius: 50px;
}
.counselling p:last-of-type{
    margin: 20px;
}

.admission-container{
    margin-top: 75px;
}
.admission-link{
    font-size: 16px;
    color: #3f7d20;
    font-weight: 600;
}
.admission-container .title-section{
    margin-bottom: 20px;
}
.admission-container .title-section + p{
    margin-bottom: 20px!important;
}
.admission-container .custom-col1 h3, .admission-container .custom-col2 h3{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    color: #000;
}
.admission-container .custom-col1 h3 a, .admission-container .custom-col2 h3 a{
    color: #3f7d20;
}
.admission-container .custom-col1 ul.text-center li, .admission-container .custom-col2 ul.text-center li{
    display: inline-block;
    margin: 10px 10px 26px 0;
}
.admission-container .custom-col1 ul.text-center li a, .admission-container .custom-col2 ul.text-center li a{
    padding: 6px 25px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    background: #3f7d20;
    color: #fff;
    border-radius: 50px;
}
.admission-container .custom-col1 h4, .admission-container .custom-col2 h4{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}
.simple-a{
    background: none!important;
    color: #3f7d20!important;
    padding: 0!important;
}
